//variables
$primary-color: #183B4E;
$secondary-color: #F2F2F2;
$tertiary-color: black;
$quaternary-color: red;

//Variables pagina inicio
$font-size-small: 25px;
$font-size-large: 50px;
$font-weight-bold: bold;
$image-size-socialmedia: 25px;

//variables de la pagina acerca de
$btn-radius: 15px;
$btn-width: 155px;
$img-width: 50%;
$margin-left: 60px;

